<nav class="bg-gray-900 text-white fixed w-full z-50">
  <div class="max-w-screen-xl h-20 px-10 flex flex-wrap items-center mx-auto p-5">
    <a href="https://mayra.dev" class="flex items-center">
      <span class="fa-solid fa-terminal text-3xl text-white"></span>
    </a>

    <div class="flex items-center gap-4 md:order-3 md:justify-end pl-12 ml-auto md:m-0">
      <div id="tooltip-default" role="tooltip"
        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Mudar tema do site
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>

      <button data-collapse-toggle="navbar-default" type="button" id="menu-btn"
        class="inline-flex items-center p-3 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Abrir menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>

      <button (click)="toggleTheme()" class="text-white w-10" data-tooltip-target="tooltip-default">
        <span *ngIf="isDarkMode" class="fa-solid fa-sun text-2xl"></span>
        <span *ngIf="!isDarkMode" class="fa-solid fa-moon text-2xl"></span>
      </button>
    </div>

    <div class="hidden w-full md:block md:w-auto ml-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 bg-gray-800 md:bg-gray-900 border-gray-700">
        <li>
          <a href="#home"
            class="block py-2 px-3 bg-blue-700 rounded md:bg-transparent md:p-0 text-white md:text-blue-500"
            aria-current="page">Home</a>
        </li>
        <li>
          <a href="#about-me"
            class="block py-2 px-3 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Sobre
            mim</a>
        </li>
        <li>
          <a href="#experience"
            class="block py-2 px-3 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Experiência</a>
        </li>
        <li>
          <a href="#academic-background"
            class="block py-2 px-3 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Formação</a>
        </li>
        <li>
          <a href="#projects"
            class="block py-2 px-3 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Projetos</a>
        </li>
        <li>
          <a href="#contact"
            class="block py-2 px-3 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Contato</a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer"
            class="block py-2 px-3 rounded md:border-0 md:p-0 text-white md:hover:text-blue-500 hover:bg-gray-700 hover:text-white md:hover:bg-transparent">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  // Script para alternar visibilidade do menu no mobile
  const menuBtn = document.getElementById('menu-btn');
  const navbar = document.getElementById('navbar-default');

  menuBtn.addEventListener('click', () => {
    navbar.classList.toggle('hidden'); // Alterna o menu entre visível e oculto
    navbar.classList.toggle('absolute'); // Garante que o menu apareça sobre o conteúdo
    navbar.classList.toggle('top-full'); // Posiciona o menu logo abaixo do header no mobile
    navbar.classList.toggle('left-0'); // Posiciona o menu alinhado à esquerda
    navbar.classList.toggle('right-0'); // Faz o menu ocupar toda a largura no mobile
  });
</script>
