<div
  class="flex flex-col justify-center items-center lg:h-[calc(100vh-80px)]"
  id="projects"
>
  <h1 class="text-4xl font-extrabold pb-10 pt-10">Projetos</h1>
  <div class="flex flex-col justify-center items-center gap-4 max-w-[80%]">
    <a
      href="#"
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-2xl hover:bg-gray-100"
    >
      <img
        class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        src="https://source.unsplash.com/random"
        alt=""
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
          Nome do projeto
        </h5>
        <p class="mb-3 font-normal text-gray-700">
          Descrição do projeto. Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Pariatur laudantium nam doloremque nisi assumenda
          quos quam quasi quod provident mollitia?
        </p>

        <div class="flex gap-2">
          <a
            href="https://github.com/mayraamaral"
            target="_blank"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 max-w-40 flex gap-2 items-center"
            ><span class="fa-brands fa-github text-xl text-white"></span>Link -
            Código</a
          >

          <a
            href="https://github.com/mayraamaral"
            target="_blank"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 max-w-44 flex gap-2 items-center"
            ><span class="fa-solid fa-link text-xl text-white"></span>Link -
            Deploy</a
          >
        </div>
      </div>
    </a>
    <a
      href="#"
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-2xl hover:bg-gray-100"
    >
      <img
        class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        src="https://source.unsplash.com/random"
        alt=""
      />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
          Nome do projeto
        </h5>
        <p class="mb-3 font-normal text-gray-700">
          Descrição do projeto. Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Pariatur laudantium nam doloremque nisi assumenda
          quos quam quasi quod provident mollitia?
        </p>

        <div class="flex gap-2">
          <a
            href="https://github.com/mayraamaral"
            target="_blank"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 max-w-40 flex gap-2 items-center"
            ><span class="fa-brands fa-github text-xl text-white"></span>Link -
            Código</a
          >

          <a
            href="https://github.com/mayraamaral"
            target="_blank"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 max-w-44 flex gap-2 items-center"
            ><span class="fa-solid fa-link text-xl text-white"></span>Link -
            Deploy</a
          >
        </div>
      </div>
    </a>
  </div>
</div>
