<div
  class="flex flex-col justify-center items-center lg:h-[calc(100vh-80px)] pb-10"
  id="contact"
>
  <h1 class="text-4xl font-extrabold pb-10 pt-10">Contato</h1>

  <form action="https://formspree.io/f/xayrdnjg" method="post">
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label
          for="first_name"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Nome</label
        >
        <input
          type="text"
          id="first_name"
          name="first_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Nome"
          required
        />
      </div>
      <div>
        <label
          for="last_name"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Sobrenome</label
        >
        <input
          type="text"
          id="last_name"
          name="last_name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Sobrenome"
          required
        />
      </div>
    </div>
    <div class="mb-6">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900"
        >E-mail</label
      >
      <input
        type="email"
        id="email"
        name="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="email@email.com"
        required
      />
    </div>
    <div class="mb-6">
      <label for="subject" class="block mb-2 text-sm font-medium text-gray-900"
        >Assunto</label
      >
      <input
        type="text"
        id="subject"
        name="subject"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Assunto"
        required
      />
    </div>

    <div class="mb-6">
      <label for="message" class="block mb-2 text-sm font-medium text-gray-900"
        >Mensagem</label
      >
      <textarea
        id="message"
        name="message"
        rows="4"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        placeholder="Mensagem"
      ></textarea>
    </div>

    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
      Enviar
    </button>
  </form>
</div>
