<div
  class="flex flex-col justify-center items-center h-[calc(100vh-80px)] text-center"
  id="home"
>
  <h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
  >
    Mayra Amaral
  </h1>
  <p
    class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48"
  >
    Engenheira de Software apaixonada por desafios
  </p>
  <div class="links flex gap-2">
    <a href="https://github.com/mayraamaral" class="flex items-center">
      <span class="fa-brands fa-square-github text-4xl text-black"></span>
    </a>
    <a href="https://linkedin.com/in/mayraamaral" class="flex items-center">
      <span class="fa-brands fa-linkedin text-4xl text-black"></span>
    </a>
  </div>
</div>
