.container {
  max-width: 80vw;
}

hr {
  width: 200px;
}

.sobre-mim-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-photo {
  width: 150px;
}

.sobre-mim-content > div > div {
  max-width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.menu {
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
header, .menu {
  height: 160px;
  padding: 10px 0;
  box-sizing: border-box;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
}

nav ul li {
  margin: 0;
  justify-self: center;
  padding-top: 10px;
}

.banner {
  box-sizing: border-box;
  padding-top: 200px;
}

.sobre-mim {
  height: 100%;
  padding: 20px 0;
}

.experiencia {
  height: 100%;
  padding: 40px 0;
}

.experiencia > .container > div {
  flex-direction: column;
}

.experiencia hr {
  display: none;
}

.experiencia i {
  display: none;
}