<div
  class="flex flex-col justify-center items-center lg:h-[calc(100vh-80px)]"
  id="academic-background"
>
  <h1 class="text-4xl font-extrabold pb-10 pt-10">Formação</h1>
  <ol class="relative border-s border-gray-200 max-w-[60%]">
    <li class="mb-10 ms-6">
      <span
        class="absolute z-0 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white"
      >
        <svg
          class="w-2.5 h-2.5 text-blue-800"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
          />
        </svg>
      </span>
      <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900">
        Análise e Desenvolvimento de Sistemas
        <span
          class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3"
          >Concluinte</span
        >
      </h3>
      <span class="block mb-2 text-sm font-semibold leading-none text-gray-900"
        >UNINTER - Centro Universitário Internacional</span
      >
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
        >De fev/2022 a jun/2024</time
      >
      <p class="mb-4 text-base font-normal text-gray-500">
        Durante o período de graduação, estou participando do Google Developer
        Student Club. Além disso, já pude aprender bastante ferramentas de
        desenvolvimento back-end, como: Python, Java, Spring Boot / Framework,
        SQL, PostgreSQL, MySQL, Oracle e modelagem de banco de dados.
      </p>
    </li>

    <li class="ms-6">
      <span
        class="absolute z-0 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white"
      >
        <svg
          class="w-2.5 h-2.5 text-blue-800"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
          />
        </svg>
      </span>
      <h3 class="mb-1 text-lg font-semibold text-gray-900">
        Técnica em Eletrônica
      </h3>
      <span class="block mb-2 text-sm font-semibold leading-none text-gray-900"
        >IFPB - Instituto Federal de Educação, Ciência e Tecnologia da
        Paraíba</span
      >
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400"
        >De mar/2015 a fev/2019</time
      >
      <p class="text-base font-normal text-gray-500">
        Durante o curso pude ter contato com uma grande quantidade de linguagens
        de programação e ferramentas para desenvolvedores. Algumas das
        ferramentas que aprendi foram: C, Python, Matlab e Java. Pude evoluir
        tecnicamente, tendo os primeiros contatos com desenvolvimento web e
        desenvolvimento em geral, buscando entender os conceitos e construindo
        uma sólida base em lógica de programação.
      </p>
    </li>
  </ol>
</div>
